tianchi_new_competitions-off-line/fresh_comp_offline.zip
Brick-and-Mortar Store Recommendation with Budget Constraints/data sets.zip
tianchi_new_competitions-off-line/fresh_comp_offline/tianchi_fresh_comp_train_user.csv
tianchi_new_competitions-off-line/fresh_comp_offline/tianchi_fresh_comp_train_item.csv
Big-Data-Challenge/(sample)mars_tianchi_artist_plays_predict.csv